.calculator_keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 5%;
}

.equal {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #2e86c0;
  border-color: #337cac;


}

button{
  height : 5rem;
}

button:hover{
  background-color: red;
}

/* .equal-sign {
  color: #fff;
} */
